:root {
  --Soft-red: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  --Dark-desaturated-cyan: hsl(167, 40%, 24%);
  --Dark-blue: hsl(198, 62%, 26%);
  --Dark-moderate-cyan: hsl(168, 34%, 41%);

  --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --Very-dark-grayish-blue: hsl(213, 9%, 39%);
  --Dark-grayish-blue: hsl(232, 10%, 55%);
  --Grayish-blue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);
  --Barlow: "Barlow", sans-serif;
  --Fraunces: "Fraunces", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.no-Select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

/* Typography */

body {
  font-family: var(--Barlow);
  line-height: 1.6;
}

a {
  text-decoration: none;
}

h3 {
  font-family: var(--Fraunces);
  color: #000;
  font-size: 2rem;
  margin-bottom: 1em;
}

.title-header {
  font-family: var(--Fraunces);
  color: var(--White);
  font-size: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.menu-bar {
  background-color: var(--White);
  font-size: 1.1rem;
  font-weight: 600;
}

.list-menubar {
  list-style: none;
  color: var(--Dark-grayish-blue);
}

.list-menubar:hover {
  color: #000;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-family: var(--Fraunces);
  background-color: var(--Yellow);
  border-radius: 40px;
  padding: 1em 2em;
}

.btn-more {
  font-family: var(--Fraunces);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 900;
}

.title_background_image {
  font-family: var(--Fraunces);
  font-size: 1.7rem;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 0.7em;
}

.color-background-image-graphic {
  color: var(--Dark-desaturated-cyan);
}

.color-background-image-photography {
  color: var(--Dark-blue);
}

/* ======= Layout ====== */

.container-grid {
  display: grid;
  grid-template-columns: 1.5em minmax(300px, 1fr) 1.5em;
}

.header__container {
  grid-column: 2;
}

.header-background {
  background-image: url(../images/mobile/image-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 70vh;
}

.header-text {
  text-align: center;
  margin-top: 2em;
}

.title-header {
  margin-bottom: 1em;
}

/* ======== Navegation ========== */

#btn-hamburger {
  cursor: pointer;
}

.list-enlace {
  margin: 1em 0;
}

.menu-bar-hide {
  display: none;
}

.menu-bar {
  display: flex;
  padding: 1em;
  position: absolute;
  top: 6em;
  left: 1.3em;
  right: 1.3em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.triangle {
  position: absolute;
  top: -1.7em;
  right: 0;
  background-color: var(--White);
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  width: 30px;
  height: 30px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 2em 0;
}

/* ==== Main === */

.img-transform,
.transform,
.standout,
.graphic,
.photography {
  grid-column: 1 / -1;
}

.text__style {
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 3em 1.6em;
}

.text__style__p {
  color: var(--Very-dark-grayish-blue);
  padding-bottom: 2em;
}

.btn-more {
  position: relative;
}

.btn-more::before {
  content: "";
  position: absolute;
  bottom: 2px;
  height: 7px;
  width: 120px;
  z-index: -1;
}

.btn-transform::before {
  background-color: #f3e77c;
}
.btn-standout::before {
  background-color: var(--Soft-red);
}

.graphic {
  background-image: url(../images/mobile/image-graphic-design.jpg);
}

.photography {
  background-image: url(../images/mobile/image-photography.jpg);
}

.text-background-image {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1em;
  font-weight: 600;
  color: var(--Dark-desaturated-cyan);
}

.container_text_background_image {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  margin-bottom: 2em;
}

/* Client Testimonial Section */

.client-testimonials {
  padding: 3em 2em;
}

.client-testimonials_title {
  font-family: var(--Fraunces);
  text-transform: uppercase;
  font-weight: 900;
  color: var(--Grayish-blue);
  text-align: center;
  letter-spacing: 3px;
}