:root {
  --Soft-red: hsl(7, 99%, 80%);
  --Dark-red: hsl(7, 99%, 60%);
  --Soft-Yellow: hsl(51, 100%, 89%);
  --Dark-Yellow: hsl(51, 100%, 49%);
  --Dark-desaturated-cyan: hsl(167, 40%, 24%);
  --Dark-blue: hsl(198, 62%, 26%);
  --Dark-moderate-cyan: hsl(168, 34%, 41%);

  --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --Very-dark-grayish-blue: hsl(213, 9%, 39%);
  --Dark-grayish-blue: hsl(232, 10%, 55%);
  --Grayish-blue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);
  --Barlow: "Barlow", sans-serif;
  --Fraunces: "Fraunces", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.no-Select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

/* Typography */

body {
  font-family: var(--Barlow);
  line-height: 1.6;
}

a {
  text-decoration: none;
}

h3 {
  font-family: var(--Fraunces);
  color: #000;
  font-size: 2rem;
  margin-bottom: 1em;
}

.title-header {
  font-family: var(--Fraunces);
  color: var(--White);
  font-size: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.menu-bar {
  background-color: var(--White);
  font-size: 1.1rem;
  font-weight: 600;
}

.list-menubar {
  list-style: none;
  margin: 1em;
}

.list-enlace {
  color: var(--Dark-grayish-blue);
}

.list-enlace:hover {
  color: #000;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-family: var(--Fraunces);
  background-color: var(--Dark-Yellow);
  border-radius: 40px;
  padding: 1em 2em;
}

.btn-more {
  font-family: var(--Fraunces);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 900;
}

.title_background_image {
  font-family: var(--Fraunces);
  font-size: 1.7rem;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 0.7em;
}

.color-background-image-graphic {
  color: var(--Dark-desaturated-cyan);
}

.color-background-image-photography {
  color: var(--Dark-blue);
}

.client-testimonials_title {
  font-family: var(--Fraunces);
  text-transform: uppercase;
  font-weight: 900;
  color: var(--Grayish-blue);
  text-align: center;
  letter-spacing: 3px;
}

/* ======= Layout ====== */

.container-grid {
  display: grid;
  grid-template-columns: 1.5em minmax(300px, 1fr) 1.5em;
}

.container-header {
  background-image: url(../images/mobile/image-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 70vh;
}

.header-text {
  text-align: center;
  margin-top: 2em;
}

.title-header {
  margin-bottom: 1em;
}

/* ======== Navegation ========== */

#btn-hamburger {
  cursor: pointer;
}

.menu-bar-hide {
  display: none;
}

/* menu responsive */
.menu-bar {
  display: flex;
  padding: 1em;
  position: absolute;
  top: 6em;
  left: 1.3em;
  right: 1.3em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.triangle {
  position: absolute;
  top: -1.6em;
  right: 0;
  background-color: var(--White);
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  width: 30px;
  height: 30px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 2em 1.5em;
}

/* ==== Main === */

.container-header,
.img-transform,
.img-standout,
.transform,
.standout,
.graphic,
.photography,
.client-testimonials,
.banner,
.footer {
  grid-column: 1 / -1;
}

.img-transform_desktop,
.img-standout_desktop {
  display: none;
}

.text__style {
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 3em 1.6em;
}

.text__style__p {
  color: var(--Very-dark-grayish-blue);
  padding-bottom: 2em;
}

.btn-more {
  position: relative;
}

.btn-more::before {
  content: "";
  position: absolute;
  bottom: 2px;
  height: 7px;
  width: 120px;
  z-index: -1;
}

.learn-btn {
  color: #000;
}

.btn-transform::before {
  background-color: var(--Soft-Yellow);
}
.btn-transform:hover::before {
  background-color: var(--Dark-Yellow);
}
.btn-standout::before {
  background-color: var(--Soft-red);
}
.btn-standout:hover::before {
  background-color: var(--Dark-red);
}

.graphic {
  background-image: url(../images/mobile/image-graphic-design.jpg);
}

.photography {
  background-image: url(../images/mobile/image-photography.jpg);
}

.text-background-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 1em;
  font-weight: 600;
  color: var(--Dark-desaturated-cyan);
}

.container_text_background_image {
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  margin-bottom: 3em;
}

/* Client Testimonial Section */

.client-testimonials {
  padding: 3em 2em;
}

.testimonial {
  text-align: center;
  margin: 3em 0;
}

.testimonial-img {
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 1em 0;
}

.testimonial_text {
  font-weight: 600;
  color: var(--Very-dark-grayish-blue);
  padding: 1em 0 2em;
}

.first_name {
  font-family: var(--Fraunces);
  font-weight: 900;
  color: var(--Very-dark-desaturated-blue);
}

.occupation {
  font-size: 13px;
  font-weight: 600;
  color: var(--Grayish-blue);
}

/* ==== BANNER ===== */

.grid-images {
  display: grid;
  grid-template-columns: minmax(100px, 50%) minmax(100px, 50%);
  grid-template-rows: minmax(1fr, 200px) minmax(1fr, 200px);
  height: 50vh;
}

.background-banner {
  background-size: cover;
  background-repeat: no-repeat;
}

.milk {
  grid-column: 1;
  grid-row: 1;
  background-image: url(../images/mobile/image-gallery-milkbottles.jpg);
}
.orange {
  grid-column: 2;
  grid-row: 1;
  background-image: url(../images/mobile/image-gallery-orange.jpg);
}
.cone {
  grid-column: 1;
  grid-row: 2;
  background-image: url(../images/mobile/image-gallery-cone.jpg);
}
.sugarCubes {
  grid-column: 2;
  grid-row: 2;
  background-image: url(../images/mobile/image-gallery-sugar-cubes.jpg);
}

/* ==== FOOTER ==== */

.footer {
  background-color: #94d3c4;
  text-align: center;
  padding: 1em;
}

.logo-footer-desktop {
  display: none;
}

.footer-nav {
  display: flex;
  justify-content: space-around;
  margin-bottom: 6em;
}

.footer-list {
  list-style-type: none;
}

.footer-enlaces {
  color: var(--Dark-moderate-cyan);
  font-weight: 900;
}
.footer-enlaces:hover {
  color: #fff;
}

.footer-socials {
  margin-bottom: 2em;
}

.icon-footer {
  margin-right: 1.3em;
}

.svg-color:hover {
  fill: #fff;
}

.janzt {
  color: #000;
  font-weight: 700;
}

/* ========== MEDIA QUERIES ========== */

@media screen and (min-width: 1024px) {
  /* ==========
   NAVEGATION
   ========== */
  *,
  body {
    font-size: 0.8rem;
  }

  #btn-hamburger,
  .triangle {
    display: none;
  }

  .nav-bar {
    align-items: center;
    padding: 3em;
  }

  .menu {
    display: flex;
    justify-content: space-around;
  }

  .list-menubar {
    margin: 0;
  }

  .list-enlace {
    color: #fff;
    font-weight: 900;
    margin: 0 2em;
    font-size: 1.4rem;
  }

  .list-enlace:hover {
    background-color: #fff;
    margin: 0;
    transition: all 200ms;
    font-size: 1.2rem;
  }

  .container-header {
    background-image: url(../images/desktop/image-header.jpg);
    height: 100vh;
  }

  .title-header {
    font-size: 4.5rem;
    margin: 1.3em 0;
    font-weight: 900;
    letter-spacing: 7px;
  }

  /* ==========
      LAYOUT
     ==========  */

  .container-grid {
    grid-template-columns: repeat(8, minmax(100px, 1fr));
  }

  .img-transform,
  .img-standout {
    display: none;
  }

  .img-transform_desktop,
  .img-standout_desktop {
    display: block;
  }

  .container-header {
    grid-template-columns: 1 /9;
    order: -2;
  }

  .transform {
    order: -1;
  }

  .transform,
  .img-standout_desktop,
  .graphic {
    grid-column: 1 /5;
  }

  .img-transform_desktop,
  .standout,
  .photography {
    grid-column: 5 / 9;
  }

  h3 {
    font-size: 3.2rem;
    line-height: 1.3;
  }

  .text__style {
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    max-width: 450px;
    margin: auto;
    padding: 5em 0;
  }

  .text__style__p {
    font-size: 1.4rem;
    font-weight: 600;
  }

  .learn-btn {
    font-size: 1.3rem;
  }

  /* ===== 
    graphic and photography 
    ====================== */

  .graphic {
    background-image: url(../images/desktop/image-graphic-design.jpg);
  }

  .photography {
    background-image: url(../images/desktop/image-photography.jpg);
  }

  .container_text_background_image {
    max-width: 350px;
    margin: 0 auto 4em;
  }

  .title_background_image {
    font-size: 2rem;
  }

  .text-description {
    font-size: 1.3rem;
  }

  /* =========
    TESTIMONIALS
    =========== */

  .client-testimonials {
    grid-column: 1 / -1;
    padding: 10em 0;
  }

  .client-testimonials-grid {
    display: grid;
    grid-template-columns: repeat(8, minmax(100px, 1fr));
  }

  .testimonial {
    margin: 3em 1em;
  }

  .testimonial_text {
    margin: 3em 0 5em;
    font-size: 1.4rem;
    padding: 0;
  }

  .client-testimonials_title {
    grid-column: 1 / -1;
    margin-bottom: 2em;
    font-size: 1.5rem;
  }

  .occupation {
    display: inline-block;
    margin-top: 0.5em;
  }

  .first_name {
    font-size: 1.4rem;
  }

  .emily {
    grid-column: 2 / 4;
  }

  .thomas {
    grid-column: 4 / 6;
  }

  .jennie {
    grid-column: 6 / 8;
  }

  /* ====
    banner
    ====== */

  .grid-images {
    grid-template-columns: repeat(8, minmax(100px, 1fr));
  }
  .milk {
    grid-column: 1 / 3;
    background-image: url(../images/desktop/image-gallery-milkbottles.jpg);
  }
  .orange {
    grid-column: 3 / 5;
    background-image: url(../images/desktop/image-gallery-orange.jpg);
  }
  .cone {
    grid-column: 5 / 7;
    grid-row: 1;
    background-image: url(../images/desktop/image-gallery-cone.jpg);
  }
  .sugarCubes {
    grid-column: 7 / 9;
    grid-row: 1;
    background-image: url(../images/desktop/image-gallery-sugarcubes.jpg);
  }

  /* =========
    footer
    ========= */

  .logo-footer-responsive {
    display: none;
  }
  .logo-footer-desktop {
    display: block;
  }
  .footer-title {
    display: flex;
    justify-content: center;
    padding: 5em 0 1em;
  }
  .footer-nav {
    justify-content: center;
  }
  .footer-list {
    margin: 2em;
  }
  .footer-enlaces {
    font-size: 1.3rem;
  }
}
